*{margin: 0;padding: 0;}
a {font: 16px "微软雅黑";text-decoration: none;color: #222;cursor: pointer;}
li{list-style: none;}
body.bdclr{background: #f5f5f5;}
.wap_nyplistbxs{overflow: hidden; margin: 0 auto 70px;}
.wap_nyplistbxs h2{color: #333; padding: 10px 10px 0; font-size: 1.2rem; line-height: 2.5rem; font-weight: normal;}
.wap_nyplistbxs ul{padding: 0 5px 0;}
.wap_nyplistbxs ul li{width: 48%; float: left; margin: 0 1% 10px;}
.wap_nyplistbxs ul li img{width: 100%;    border-radius: 5px 5px 0 0;    vertical-align: bottom;}
.wap_nyplistbxs ul li p {font-size: 0.8rem;    line-height: 1.0rem;    color: #333;    padding: 5px 2%;}
.wap_nyplistbxs ul li span {color: #ff6846;    font-size: 1.2rem;}
.wap_nyplistbxs ul li span i{font-style: normal; font-size: 0.6rem;}
.wap_nyplistbxs ul li {width: 48%;float: left;margin: 0 1% 10px;background: #fff;border-radius: 5px;padding: 0 0 5px 0;}
.nyusertop{width: 100%; background: linear-gradient(45deg,#fe2b54,#ff2eb5);background-size: 100% auto; padding: 0 0 20px 0;height: 120px;}
.nyusertop dl{position: fixed;top: 60px;left: 4%;background: #fff;width: 92%;align-items : center;border-radius: 8px;height: 140px;}
.nyusertop dl dt{width: 20%; margin: -24px auto 0;}
.nyusertop dl dd{width: 100%;color: #fff;text-align: center;}
.nyusertop dl dd h3{font-size: 1.0rem; line-height: 1.2rem;}
.nyusertop dl dd p{font-size:1.0rem;color: #222;padding-top: 10px;}
.nyusertop dl dt img{width: 100%;}

.ny_userorderx{ background: #fff; overflow: hidden; margin: 10px 0;  display: flex; -webkit-display:flex; align-items : center; padding: 5px 0; }
.ny_userorderleft,.ny_userorderrightt{width: 50%; padding: 0 0 0 5%; font-size: 1.2rem; line-height: 2.0rem; height: 2.0rem;align-items : center;  flex: auto;display: flex; }
.ny_userorderleft img,.ny_userorderrightt img{margin: 0 5px 0 0;}
.ny_userorderleft a,.ny_userorderrightt a{color: #222;}
ul.ny_userbots{background: #fff; overflow: hidden;min-height: auto;padding: 10px 0; height: 100%;margin-top: 90px;}
ul.ny_userbots li{display: flex; -webkit-display:flex; align-items : center; padding: 0 0 0 10%;height: 3.0rem; line-height: 3.0rem;}
ul.ny_userbots li img{margin: 0 15px 0 0;}
ul.ny_userbots li .mag{width: 80%;height: 100%;line-height: 3.0rem;}
ul.ny_userbots li a.r_more{display: flex;justify-content: flex-end;}

.land{width: 90%;margin: 20px auto 0;background: #fe2b70;border-radius: 4px;text-align: center;height: 2.5rem;line-height: 2.5rem;}
.land a{display: inline-block;width: 100%;height: 100%;line-height: 2.5rem;color: #fff;}
.login-out{width: 90%;margin: 20px auto 0;background: #919191;border-radius: 4px;text-align: center;height: 2.5rem;line-height: 2.5rem;}
.login-out a{display: inline-block;width: 100%;height: 100%;line-height: 2.5rem;color: #fff;}

.footer{position: fixed;bottom: 0;left: 0;width: 100%;height: 42px;line-height: 42px;background: #fff;}
.footer ul{height: 100%;display: flex;justify-content: space-between;}
body .footer ul li{width: 25%;float: left;color: #888b90;height: 100%;line-height: 42px;text-align: center;border: none;}
body .footer ul li:nth-child(3){position: relative;}
body .footer ul li:nth-child(3) .route-type{display: none;position: absolute;left: -100%;bottom: 50px;width: 200%;background: #ff8936;box-shadow: 0 0 5px #dedede;border-radius: 4px;}
body .footer .personal-centerul li{width: 50%;border: none;}
.footer ul li a{display: block;font-size: 18px;width: 100%;line-height: 42px;}
body .footer ul li:nth-child(3) .route-type a{font-size: 16px;line-height: 40px;text-align: center;color: #fff;}
.footer ul li.check-on a{color: #fe2b54;}
.footer ul li.check-on a i{color: #fe2b54;}
.footer ul li a i{font-size: 20px;color: #888b90;}
body .footer ul li .route-type{position: fixed;bottom: 42px;left: 0;width: calc(100% - 40px);background-color: #fe2b54;padding: 20px 10px 10px 20px;height: auto;border-bottom: 3px solid #e78f00;}
body .footer ul li .route-type a{color: #fe2b54;font-size: 16px;float: left;width: auto;min-width: 76px;background: #fff;padding: 7px 10px;border-radius: 6px;line-height: normal;margin: 0 10px 10px 0;text-align: center;}


/* 资料管理与编辑 */
.wap_nyzlglbigbox{overflow: hidden; padding: 0 0 70px 0;}
.wap_nyzlgltit{height: 50px; width: 92%;background: #fe2b54;line-height: 50px;position: fixed; top: 0; z-index: 99;padding: 0 4%;text-align: center;overflow: hidden;}
.wap_nyzlgltit a{float: left;margin-top: 15px;}
.wap_nyzlgltit span{color: #fff; font-size: 1.2rem;}
.wap_ny_peozl{margin: 50px 0 0;}
.wap_ny_peozl ul{margin: 30px 0 0; background: #fff; padding: 0 0 20px 0;}
.wap_ny_peozl .wapsbt_rt{font-size: 16px; background: #fe2b54; width:94%; height: 46px; line-height: 46px; text-align: center;
border: none; color: #fff; border-radius: 6px; margin: 30px auto 0; display: block;}
.wap_ny_peozl ul li{ line-height: 48px; border-bottom: 1px solid #eee; color: #8e8e8e;padding: 0 5%;}
.wap_ny_peozl ul li em{font-size: 14px; color: #cdcdcd; font-style: normal; padding: 0 0 0 20px;}
.wap_ny_peozl ul li label{text-align: left;width: 64px;display: inline-block;color: #222;}
.wap_ny_peozl ul li .show-time{font-size:16pt;display:none;font-size: 0.8rem;background: #fe2b54;color: #fff;padding: 6px 24px;border-radius: 5px;}
.wap_ny_peozl ul li label i{color: #c72424; padding: 0 5px 0 0; font-style: normal;}
.wapg_h01{width: 190px;height: 26px;border: none;color: #8e8e8e;border: 1px solid #ccc;border-radius: 5px;padding: 0 0 0 5px;}
.wapbd_name{color: #8e8e8e;padding: 0 0 0 5px;}

/* 订单管理 */
.wap_ordertype ul{background: #fff;  display: flex; padding: 0 0.5%; margin: 50px 0 0;justify-content: space-between; -webkit-display:flex; align-items: center;}
.wap_ordertype ul li{width: 28%; text-align: center; margin: 0 2.5%; font-size: 1.2rem; height: 3.0rem; line-height: 3.0rem;}
.wap_ordertype ul li a{font-size: 1.2rem;height: 3.0rem; line-height: 3.0rem;}
.wap_ordertype ul li a.on{display: block; border-bottom: 2px solid #fe2b54; color: #fe2b54;}
.wap_orderlmaintxt ul{padding: 15px 0 0;}
.wap_orderlmaintxt ul li{color: #666;position: relative;}
.wap_orderlmaintxt ul li h5{color: #5c5c5c; font-size: 0.8rem; height: 1.2rem; line-height: 1.2rem; margin: 5px 0; font-weight: normal;}
.wap_orderlmaintxt ul li dl{display: flex; justify-content: space-between; -webkit-display:flex; align-items: center;}
.wap_orderlmaintxt ul li dl dt{width: 20%;border-radius: 4px;overflow: hidden;}
.wap_orderlmaintxt ul li dl dd{width: 75%;}
.wap_orderlmaintxt ul li dl dd h4{font-size: 0.8rem; width: 70%; font-weight: 700;overflow: hidden;text-overflow: ellipsis;}
.wap_orderlmaintxt ul li .dis{display: flex; justify-content: space-between; -webkit-display:flex;}
.wap_orderlmaintxt ul li dl dd span{font-size: 0.8rem;}
.wap_orderlmaintxt ul li .orders-zhuangtai i{display: block; font-style: normal; font-size: 0.9rem;padding: 6px 2% 6px 20px;border-bottom-left-radius: 20px;position: absolute;top: 0px;right: 0;}
.wap_orderlmaintxt ul li .orders-zhuangtai i.order-yizhifu{background: #60d37e;color: #ffffff;}
.wap_orderlmaintxt ul li .orders-zhuangtai i.order-yishixiao{background: #dbdbdb;color: #666666;}
.wap_orderlmaintxt ul li .orders-zhuangtai i.order-daizhifu{background: #d3b060;color: #ffffff;}
.wap_orderlmaintxt ul li .orders-zhuangtai p{position: absolute;right: 0;bottom: 7%;right: 2%;}
.wap_orderlmaintxt ul li .orders-zhuangtai p a{font-size: 14px;display: inline-block;}
.wap_orderlmaintxt ul li .orders-zhuangtai p .ljifuk{color: #fe2b99;margin-right: 10px;}
.wap_orderlmaintxt ul li .orders-zhuangtai p .quxiaodd{color: #d3b060;}
.wap_orderlmaintxt ul li i{font-size: 0.8rem;}
.wap_orderlmaintxt ul li .mgcard{padding: 2px 0;background: #21657c;text-align: center;margin-top: 8px;width: 110px;border-radius: 2px;}
.wap_orderlmaintxt ul li .mgcard a{font-size: 15px;color: #fff;}
.wap_orderlmaintxt ul li{background: #fff; padding: 3% 2%; margin: 0 0 15px 0;}
.leftort{line-height: 1.3rem;}
.leftort .dis span{font-weight: bolder; color: #fe2b54;}

/*订单详情页*/
.wap_nyzlglbigbox{overflow: hidden; padding: 0 0 70px 0;}
.wap_nyzlgltit{height: 50px; width: 92%;background: #fe2b54;line-height: 50px;position: fixed; top: 0; z-index: 9999;padding: 0 4%;text-align: center;overflow: hidden;}
.ano-tit{height: 50px;}
.wap_nyzlgltit span{color: #fff; font-size: 1.2rem;}
.wap_ny_peozl{margin: 50px 0 0;}
.wap_ny_peozl ul{margin: 30px 0 0; background: #fff; padding: 0 0 20px 0;}
.wap_ny_peozl .wapsbt_rt{font-size: 16px; background: #fe2b54; width:94%; height: 46px; line-height: 46px; text-align: center;
border: none; color: #fff; border-radius: 6px; margin: 30px auto 0; display: block;}
.wap_ny_peozl ul li{ line-height: 48px; border-bottom: 1px solid #eee; color: #8e8e8e;}
.wap_ny_peozl ul li span.wap_hqyzm{font-size: 0.8rem; background: #fe2b54; color: #fff; padding: 6px; border-radius: 5px;}
.wap_ny_peozl ul li em{font-size: 14px; color: #cdcdcd; font-style: normal; padding: 0 0 0 20px;}
.wap_ny_peozl ul li label{text-align: left; width: 64px; display: inline-block; color: #222;}
.wap_ny_peozl ul li label i{color: #c72424; padding: 0 5px 0 0; font-style: normal;}
.wap_ny_peozl ul li label.adf{width: 94px;}
.wapg_h02 {width: 100px;height: 30px;line-height: 30px;background: none; padding: 0 0 0 5px; border: none; border-radius: 5px;}
.wapg_h01{width: calc(100% - 80px); height: 26px; border: none; color: #8e8e8e; border:1px solid #ccc; border-radius: 5px; padding: 0 0 0 5px;}
.wap_ny_peozl ul li .adfinput{width: calc(100% - 107px);}

.wapsex{background: none; width: 12px; height: 12px; vertical-align: middle; margin: 0 2px 0 0;}
.wapbd_date,.wapbd_name{color: #8e8e8e; padding: 0 0 0 5px;}
.wapnybd_pvc{height: 26px;}

.waptogopay_top{margin: 3% 0 0;overflow: hidden; padding: 50px 3% 0;}
.waptogopay_top h3{padding: 10px 0;}
.waptogopay_top h3 i{font-size: 1.1rem; color: #333; font-style: normal; padding: 0 10px 0 0;}
.waptogopay_top h3 b{font-size: 1.6rem; color: #fe2b54; padding: 0 10px 0 0;}
.waptogopay_top p span{color: #ff6a11;}
.waptogopay_top .time-price{padding: 10px;background: #fff;border-radius: 5px;}
.waptogopay_top p{padding: 0px 0 10px;border-bottom: 1px solid #dedede;margin-bottom: 10px;}
.waptogopay_top ul{padding: 25px 10px;background: #fff;margin-top: 3%;border-radius: 5px;}
.waptogopay_top ul li{ line-height: 1.2rem; margin: 0 0 15px 0;}
.waptogopay_top ul li:last-of-type{margin-bottom: 0;}
.waptogopay_top ul li span{color: #000;  }

.u-radio,.u-checkbox{position:relative;display:inline-block;*zoom:1;*display:inline}
.u-radio input[type=radio],.u-checkbox input[type=checkbox]{position:absolute;left:0;top:0;width:0;height:0;visibility:hidden}

.u-radio,.u-checkbox {  line-height: 24px;  }
.u-radio .icon,.u-checkbox .icon {display: inline-block;
*zoom: 1; *display: inline;  position: relative; top: -2px; width: 24px; height: 24px; vertical-align: middle;}
.u-radio .icon {  background: url(../images/icon_radio.png) center no-repeat;
-webkit-background-size: contain; background-size: contain;}
.u-radio.z-checked .icon {background-image: url(../images/icon_radio_chekced.png);}
.u-checkbox .icon {background: url(../images/icon_checkbox.pn) center no-repeat; -webkit-background-size: contain; background-size: contain; }
.u-checkbox.z-checked .icon { background-image: url(../images/icon_checkbox_checked.png);}

.wap_naygopaybotbx{margin: 3% 3% 0;background: #fff;overflow:hidden; padding: 3% 10px;border-radius: 5px;}
.wap_naygopaybotbx h4{height: 2.5rem;line-height: 2.5rem;font-size: 1.2rem;font-weight: normal;color: #1a1a1a;}
.wap_naygopaybotbx ul{margin: 5px 0 0;}
.wap_naygopaybotbx ul li{display: flex;  justify-content: space-between; -webkit-display:flex; align-items: center; 
    height: 50px; font-size: 1.2rem;}
.wap_naygopaybotbx ul li p{-webkit-display:flex; display: flex; align-items: center;white-space: nowrap;}
.wap_naygopaybotbx ul li img{margin: 0 10px 0 0;}
.qrzf{background: #fe2b54; text-align: center; color: #fff; border: none; display: block; width: 94%; margin: 20px auto;border-radius: 30px; font-size: 1.2rem; padding: 5px 0;line-height: 2.0rem;}

.wap_ordertype ul{background: #fff;  display: flex; padding: 0 0.5%; margin: 50px 0 0;
 justify-content: space-between; -webkit-display:flex; align-items: center;}
.wap_ordertype ul li{width: 28%; text-align: center; margin: 0 2.5%; font-size: 1.2rem; height: 3.0rem; line-height: 3.0rem;}
.wap_ordertype ul li a{font-size: 1.2rem;height: 3.0rem; line-height: 3.0rem;}
.wap_ordertype ul li a.on{display: block; border-bottom: 2px solid #e85143; color: #e85143;}
.wap_orderlmaintxt ul li h5{color: #5c5c5c; font-size: 0.8rem; height: 1.2rem; line-height: 1.2rem; margin: 5px 0; font-weight: normal;}
.wap_orderlmaintxt ul li dl{display: flex; justify-content: space-between; -webkit-display:flex; align-items: center;}
.wap_orderlmaintxt ul li dl dt{width: 20%; }
.wap_orderlmaintxt ul li dl dd{width: 75%;}
.wap_orderlmaintxt ul li .dis{display: flex; justify-content: space-between; -webkit-display:flex;}
.wap_orderlmaintxt ul li dl dd span{font-size: 0.8rem;}
.wap_orderlmaintxt ul{padding: 15px 0 0;}
.wap_orderlmaintxt ul li i,.wap_orderlmaintxt ul li em{display: block; font-style: normal; font-size: 0.9rem;}
.wap_orderlmaintxt ul li em b{background: #ffb802; color: #fff; padding:2px 5px; border-radius: 5px; font-size: 0.8rem; font-weight: normal;}
.wap_orderlmaintxt ul li i{font-size: 0.8rem;}
.wap_orderlmaintxt ul li{background: #fff; padding:2% 2% 5%; margin: 0 0 15px 0;}
.leftort .dis span{font-weight: bolder; color: #e85143;}
.wap_orderlmaintxt ul li dl dt img{width: 100%;}

.wap_nyplaceyres { width: 100%;    height: 70px;   background: #fff;    box-shadow: 0px 0px 5px 0px rgba(76, 89, 101, 0.3);
 position: fixed;    bottom: 0px;    display: flex;    max-width: 750px;    min-width: 320px;    justify-content: space-between; align-items: center;}
.wap_nyplaceyres p{ width:34%;  color: #fff; margin: 0 10px 0 0; }
.wap_nyplaceyres p a{color: #fff; font-size: 1.2rem; text-align: center;
 display: block; height: 3.0rem; line-height: 3.0rem; background: #e85143; border-radius: 10px; }
.wap_nyplaceyres dl{width: 60%; margin: 0 0 0 10px;}
.wap_nyplaceyres dl dt{font-size: 0.6rem;}
.wap_nyplaceyres dl dt span,.wap_nyplaceyres dl dt span label{color: #f0403a;}
.wap_nyplaceyres dl dd{color: #f0403a; font-size: 0.8rem;}
.wap_nyplaceyres dl dd label{color: #f0403a; font-size: 1.2rem;}
.wap_nyplacebbibx{padding: 0 20px;}
.wap_placeggtit{font-size: 1.2rem; color: #121314; height: 2.5rem; line-height: 2.5rem; margin: 10px 0;}
.wap_nyplascecenter p{display: flex; -webkit-display:flex; align-items: center;}
.wap_nyplascecenter p img{margin: 0 10px 0 0;}
.wap_nyplascecenter p .wapAdult{margin: 0 40px 0 10px;}
.wap_nyplascecenter p .wapchild{margin: 0 0 0 10px;}
.wap_nyplascetop{min-height: 200px;}
.wap_nyplascecenter,.wap_nyplascebot{margin: 0 0 30px 0;}
.wap_nyplascebot ul li{width: 21%; margin: 0 2% 0 0; text-align: center; background: #e6e5e5; border-radius: 5px; padding: 10px 0;}
.wap_nyplascebot ul li.on{background: #7390a8; color: #fff;}
.wap_nyplascebot ul{display: flex; -webkit-display:flex; align-items: center;}

.wapnysub_order01{background: #fff;padding: 10px;overflow: hidden;}
.wapnysub_order01 h3{font-size: 18px; color: #333; font-weight: bolder;height: 40px; line-height: 40px; overflow: hidden; }
.wapnysub_order01 h4,.wapnysub_order01 p{font-weight: 100;color: #888;font-family: "微软雅黑";}
.wapnysub_order01 p{margin-top: 5px;}
.wapnysub_order01 p:last-of-type{border-bottom: 1px solid #dedede;padding-bottom: 10px;}
.wapnysub_order01 ul li{ line-height: 30px;font-size: 15px; margin: 0;color: #666;}
.wapnysub_order01 ul li span.cr,.wapnysub_order01 ul li dl dt span.chir{float: left; }
.wapnysub_order01 ul li span.cr{line-height: 36px; padding: 0 10px 0 0;}

.wapnysub_order01 ul li dl dd{ font-size: 0.8rem; color: #666; display: inline-block; float: left; line-height: 36px; padding: 0 0 0 10px;}
.wapnysub_order01 ul li i{padding: 0 25px 0 0; font-style: normal;}
.wapnysub_order01 ul li .Adult,.wapnysub_order01 ul li .child{background: none;  margin: 0 10px 0 10px; height: 20px;line-height: 20px; }
.wapnysub_order01 ul li .Adult select,.wapnysub_order01 ul li .child select{background: none; border: none; width: 70px;height: 25px; line-height: 25px; border: 1px solid #dcdcdc;}
.wapnysub_order02{background: #fff;padding: 10px;margin: 10px 0 10px;overflow: hidden;}
.wapnysub_order02 h3{font-size: 18px; color: #333; font-weight: bolder;height: 30px; line-height: 30px; }
.wapnysub_order02 dl{overflow: hidden;color: #555;font-size: 15px;line-height: 24px;}
.wapnysub_order01 h3 img, .wapnysub_order02 h3 img, .wapnysub_order03 h3 img{margin: -5px 5px 0 0; vertical-align: middle;}
.wapnysub_order02 ul{margin: 10px 0 0;}
.wapnysub_order02 ul li{ line-height: 30px; margin: 0 0 5px 0; border-bottom: 1px solid #eee;}
.wapnysub_order02 ul li label{width: 28%; text-align: left; display: inline-block; color: #333; }
.wapnysub_order02 ul li label b{color: #f70058; padding: 0 4px;}
.wapnysub_order02 ul li:last-child span{color: #999; padding: 0 0 0 10px;}
.wapnysub_order02 ul li input{background: none;  height: 36px; line-height: 36px; border: none;}
.wapnysub_order02 ul li input.sbt_ggw{width:65%;color: #777;    padding: 0 0 0 5px;}

.wapnysub_order03{ overflow: hidden;margin: 10px 0 15px;background: #fff;padding: 10px;}
.wapnysub_order03 h3{font-size: 18px; color: #333; font-weight: bolder;height: 30px; line-height: 30px; }
.wapnysub_order03 dl{overflow: hidden;color: #555;font-size: 15px;line-height: 24px;}

.wapnysub_order03 .cylxrbx i{ margin: 0 10px 0 0; color: #fff; background: #ff9900; display: inline-block; width: 20px; height: 20px;
line-height: 20px; text-align: center; border-radius: 50%;}
.wapnysub_order03 .cylxrbx span{font-size: 0.8rem; color: #000; }
.wapnysub_order03 .cylxrbx .cylxrcheckbox{vertical-align: middle; padding: 0 10px; line-height: 20px; display: inline-block; color: #999;}
.wapnysub_order03 .cylxrbx label{padding: 0 10px; color: #999;}
.wapnysub_order03 .cylxrbx b{padding: 0 10px 0 0; font-weight: normal; color: #999;}
.wapnysub_order03 .cylxrbx{margin: 15px 0 0 0;}
.wapnysub_order03 .lxrboxs{margin: 10px 0 0;  overflow: hidden; padding: 0 0 10px 0;}
.wapnysub_order03 .lxrboxs .lxrleftxs{width: 100%;}
.wapnysub_order03 .lxrboxs .lxrleftxs a.lxremover{display: inline-block; float: right; color: #e85143;}
.wapnysub_order03 .lxrboxs .lxrrightxs{width: 100%;}
.wapnysub_order03 .lxrboxs .lxrrightxs label.lvknames{width: 25%; display: inline-block; color: #222; font-size: 0.9rem;}
.wapnysub_order03 .lxrboxs .lxrleftxs span{font-size: 0.8rem; line-height: 1.8rem;}
.wapnysub_order03 .lxrboxs .lxrleftxs i{background: #81b3f9;  padding: 0 5px;
 border-radius: 2px; color: #fff; font-style: normal; font-size: 0.8rem;}
.wapnysub_order03 .lxrboxs .lxrleftxs i.cr{background: #81b3f9;}
.wapnysub_order03 .lxrboxs .lxrleftxs i.cid{background: #ffa400;}
.wapnysub_order03 .lxrboxs .lxrrightxs ul li{ margin: 0 0 5px 0; vertical-align: middle; border-bottom: 1px solid #eee; }
.wapnysub_order03 .lxrboxs .lxrrightxs ul li label b{color: #fa0723; padding: 0 4px;}
.wapnysub_order03 .lxrboxs .lxrrightxs ul li input{height: 36px; line-height: 36px; border: none; box-sizing: border-box;}
.wapnysub_order03 .lxrboxs .lxrrightxs ul li select{height: 36px; line-height: 36px; border:none; background: none; width: 25%; color: #222; font-size: 0.9rem;}
.wapnysub_order03 .lxrboxs .lxrrightxs ul li input.sbt_ggw2{color: #777;    margin: 0 0 0 3%; width: 70%; padding: 0 0 0 5px;}
.wapnysub_order03 .lxrboxs .lxrrightxs ul li input.sltgge{ margin: 0 0 0 3%;  width: 70%; padding: 0 0 0 5px; }
.wapnysub_order03 .cylxrbx ul{display: flex;  -webkit-display:flex;}
.wap_nyplaceidbox{overflow: hidden; margin: 50px 0 70px 0;}

.wap_gopaysucb h4{font-size: 3.0rem; color: #413e3e; height: 40px; line-height: 40px; font-weight: bolder; text-align: center;   }
.wap_gopaysucb h4 b{color: #ff6a11;}
.wap_gopaysucb{margin: 30% 0 0 0; text-align: center;}
.wap_gopaysucb p a{font-size: 2.5rem; color: #ff6a11; padding: 0 5px;}
.wap_gopaysucb p{padding: 25px 0 0 15px; font-size: 2.5rem; line-height: 2.8rem; text-align: center }

.wap_abtboxswif{padding: 0;margin: calc(50px + 2%) auto 0;width: 96%;border-radius: 5px;overflow: hidden;}
.order_xq{background: #ffb802;  margin: 0; padding: 10px;}
.order_xq h3{color: #fff; font-weight: normal; height:1.3rem; line-height: 1.3rem;font-size: 1.1rem;padding-bottom: 10px;display: inline-block;border-bottom: 1px solid #fff;}
.order_xq p{font-size: 1.0rem;color: #ff9a02;margin-top: 10px;background: #fff;padding: 5px;border-radius: 3px;}
.order_xq p span{color: #ff9a02; font-weight: bolder;}
.tra_namesif dt{width: 30%; float: left;}
.tra_namesif dd{float: left; width: 70%;}
.tra_names{border-bottom: 1px dashed #dedede; overflow: hidden; margin: 0 0 10px 0; padding: 5px 0;}
.tech_sup{font-size: 0.8rem; text-align: center; color: #bbb; }

.wap_orderlmaintxt ul li dl dt img{width: 100%;}



/* 字体图标 */
@font-face {
  font-family: 'iconfont';  /* Project id 2901264 */
  src: url('http://at.alicdn.com/t/font_2901264_1i26aqfjo7j.woff2?t=1635823416439') format('woff2'),
       url('http://at.alicdn.com/t/font_2901264_1i26aqfjo7j.woff?t=1635823416439') format('woff'),
       url('http://at.alicdn.com/t/font_2901264_1i26aqfjo7j.ttf?t=1635823416439') format('truetype');
}
  
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e655";
}

.icon-wode:before {
  content: "\e65f";
}

@font-face {
  font-family: 'iconfont';  /* Project id 2518418 */
  src: url('http://at.alicdn.com/t/font_2518418_aegeumdbmu5.woff2?t=1637648561471') format('woff2'),
        url('http://at.alicdn.com/t/font_2518418_aegeumdbmu5.woff?t=1637648561471') format('woff'),
        url('http://at.alicdn.com/t/font_2518418_aegeumdbmu5.ttf?t=1637648561471') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zixun:before {
  content: "\e889";
}

.icon-route:before {
  content: "\e616";
}

@font-face {
  font-family: 'iconfont';  /* Project id 2978254 */
  src: url('http://at.alicdn.com/t/font_2978254_6cvmk3h542o.woff2?t=1638320186121') format('woff2'),
       url('http://at.alicdn.com/t/font_2978254_6cvmk3h542o.woff?t=1638320186121') format('woff'),
       url('http://at.alicdn.com/t/font_2978254_6cvmk3h542o.ttf?t=1638320186121') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-see:before {
  content: "\e661";
}

  /* 屏幕适配 */
  
  @media screen and (min-width: 320px){
   		body .footer ul li .route-type a{min-width: 63px;}
   }
  
  @media screen and (min-width: 340px){
  	body .footer ul li .route-type a{min-width: 70px;}
  }
  
  @media screen and (min-width: 375px){
  	body .footer ul li .route-type a{min-width: 81px;}
  }
  
  @media screen and (min-width: 414px){
  	body .footer ul li .route-type a{min-width: 94px;}
  }
  
  @media screen and (max-width: 360px) {
    .wap_orderlmaintxt ul li{padding: 2% 2% 8%;}
  }
  @media screen and (max-width: 240px) {
    .footer{height: 32px;line-height: 32px;}
    body .footer ul li:nth-child(1), body .footer ul li:nth-child(2){line-height: 32px;}
    .footer ul li a{font-size: 13px;line-height: 32px;}
    .footer ul li a i{font-size: 16px;}
  }